<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <fieldset>
      <legend>Upload File</legend>
      <%= form_tag root_path, multipart: true do %>
        <%= file_field_tag :file %>
      <% end %>
    </fieldset>
  </div>
</div>