<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <fieldset>
      <legend>Upload File</legend>
      <%= form_tag root_path, multipart: true do %>
        <div class="row">
          <%= file_field_tag :file %>
        </div>
        <div class="row">
          <%= submit_tag nil, class:'btn btn-primary pull-xs-right' %>
        </div>
      <% end %>
    </fieldset>
  </div>
</div>